@use "base" as *;

body {
  display: flex;
  flex-direction: column;
  color: $primary-font-color;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  color: black;
  font-size: large;
}

div {
  min-height: 30px;
}

.nav {
  background-color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & > .navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    > span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }

  & > .navItem:hover {
    background-color: $background-hover-color;
  }

  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}
