main {
  display: flex;
  background-color: chocolate;
  flex: 1;
  overflow: auto;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-content: center;
}

footer {
  height: 150px;
  background-color: crimson;
}

img {
  width: 150px;   
}